html {
  font-family: "Yu Mincho", serif;
}

body {
  width: 100%;
  background-color: #090D11;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button, a.button {
  color: inherit;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#top {
  width: 100%;
  padding: 0 72px;
  z-index: 1;
}

#nav {
  width: 100%;
  z-index: 99;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
}

.nav-item {
  padding-right: 24px;
}
.nav-item:last-child {
  padding-right: 0;
}
.nav-item a {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
.nav-item a:hover {
  opacity: 60%;
}
.nav-item .nav-smp {
  display: none;
}

#footer {
  width: 100%;
  height: 318px;
  padding-bottom: 40px;
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.footer-text {
  display: flex;
  flex-direction: column;
}
.footer-text .footer-title {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 10%;
  margin-bottom: 12px;
}
.footer-text p {
  color: #fff;
  letter-spacing: 10%;
  line-height: 2;
}

.footer-sns {
  display: flex;
  gap: 32px;
}
.footer-sns img {
  width: 50px;
  height: 50px;
}
.footer-sns img:hover {
  opacity: 60%;
}

.company {
  color: #fff;
  text-align: center;
}

.bg-img {
  width: 100%;
  height: 392px;
  margin-top: 120px;
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: 100%;
  height: auto;
  margin-top: 180px;
}

.sec-title {
  margin-bottom: 60px;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.fv {
  width: 100%;
  padding: 0 72px 110px;
  margin-top: 80px;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.fv-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.fv-visual_onion {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 0;
}
.fv-visual_circle {
  width: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 0;
}
.fv-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
}
.fv-text h1 {
  writing-mode: vertical-rl;
  font-size: 4rem;
  letter-spacing: 1rem;
}
.fv-text h3 {
  writing-mode: vertical-rl;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
}

.scroll {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.scroll a {
  display: block;
}
.scroll a:hover {
  opacity: 20%;
}
.scroll-btn {
  width: 196px;
  height: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
}
.scroll p {
  margin-bottom: 13px;
  color: #fff;
}
.scroll img {
  width: 10px;
}

#news {
  width: 100%;
  padding-left: 72px;
}

.news-container {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  background-color: #909294;
  padding: 1.5rem 2.5rem;
  border-radius: 30px;
}
.news-container .news-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.news-container .news-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.news-container .news-item time {
  font-size: 0.875rem;
}
.news-container .news-item p {
  font-size: 0.875rem;
}
.news-container .news-item:nth-child(2) {
  margin: 8px 0;
}

#about {
  padding: 234px 72px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1260px;
}
#about img {
  width: 50%;
  max-width: 586px;
  height: auto;
  margin-left: -20%;
  margin-bottom: 20%;
}

.about-container {
  width: 100%;
  max-width: 904px;
  height: auto;
  padding: 60px 0 60px 40px;
  background-color: #E1E1E1;
}

.about-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-title {
  font-size: 2.25rem;
  color: #000;
  margin-bottom: 10px;
}

.about-text {
  width: 100%;
  line-height: 30px;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

#work {
  width: 100%;
}

.work-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.work-item {
  max-width: 400px;
}
.work-item .item-title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
.work-item img {
  margin: 24px 0;
}
.work-item p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

#product {
  width: 100%;
}

.product-container {
  position: relative;
  width: 100%;
  height: auto;
}
.product-container_line {
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  z-index: 0;
}

.product-inner {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.product-inner_img {
  width: 100%;
  max-width: 512px;
  height: auto;
}
.product-inner:nth-of-type(2) {
  margin: 128px auto;
  flex-direction: row-reverse;
}

.product-text {
  max-width: 100%;
}
.product-text h4 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 13px;
}
.product-text p {
  color: #fff;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.1em;
}

#contact {
  width: 100%;
  height: auto;
  margin-top: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 418px;
  height: 110px;
  background-color: #fff;
  border-radius: 60px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
button:hover .contact-arrow {
  transform: translateX(6px);
}
button p {
  font-size: 1.5rem;
}
button img {
  width: 46px;
  height: 46px;
  transition: transform 0.3s ease;
}
button img:hover {
  transform: translateX(6px);
}

#sns {
  width: 100%;
}

.sns-mobile {
  display: none;
}

.sns-desktop {
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 128px;
  overflow: hidden;
}
.swiper-slide {
  width: 194px;
  height: 194px;
  margin-right: 4px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.marquee {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 128px;
  overflow: hidden;
}
.marquee-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.marquee-track li {
  width: 194px;
  height: 194px;
  margin-right: 4px;
  flex-shrink: 0;
}
.marquee-track li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) {
  body.scroll-lock {
    overflow: hidden;
  }
  #top {
    width: 100%;
    padding: 0 17px;
    box-sizing: border-box;
    position: relative;
  }
  #nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(9, 13, 17, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .nav-content.open {
    opacity: 1;
    visibility: visible;
  }
  .nav-item {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nav-smp {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 24px;
    z-index: 999;
  }
  .nav-smp.open .hamburger1 {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav-smp.open .hamburger2 {
    opacity: 0;
  }
  .nav-smp.open .hamburger3 {
    width: 30px;
    transform: translateY(-10px) rotate(45deg);
  }
  .hamburger1 {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D9D9D9;
    transition: all 0.5s;
  }
  .hamburger2 {
    width: 23px;
    height: 2px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #D9D9D9;
    transition: all 0.5s;
  }
  .hamburger3 {
    width: 16px;
    height: 2px;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #D9D9D9;
    transition: all 0.5s;
  }
  .fv {
    width: 100%;
    height: 100dvh;
    padding: 0 17px;
    margin: 146px 0 28px;
  }
  .fv-visual_onion {
    width: 300px;
    top: 15%;
    transform: translate(-50%, -30%);
  }
  .fv-visual_circle {
    width: 400px;
    top: 15%;
  }
  .fv-text h1 {
    font-size: 3rem;
  }
  .fv-text h3 {
    font-size: 1rem;
  }
  button {
    width: 100%;
    max-width: 418px;
  }
  .scroll {
    width: 100%;
    margin-bottom: 99px;
  }
  .scroll-btn {
    width: 134px;
    height: 134px;
  }
  .scroll-btn img {
    width: 7.5px;
  }
  #news {
    width: 100%;
    padding: 0 17px;
    margin: 0 auto;
  }
  .news-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 26px;
  }
  .news-container .news-title {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  .news-container .news-item time, .news-container .news-item p {
    font-size: 0.625rem;
  }
  #about {
    width: 100%;
    padding: 0;
    margin-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #about img {
    width: 100%;
    max-width: none;
    height: 272px;
    margin: 0;
  }
  .about-container {
    width: 100%;
    height: auto;
    padding: 20px 47px 32px 24px;
    margin-right: 24px;
  }
  .about-inner {
    width: 100%;
  }
  .about-title {
    width: 100%;
    font-size: 1.5rem;
  }
  .about-text {
    max-width: none;
    font-size: 0.875rem;
    font-weight: 600;
  }
  .bg-img {
    height: 543px;
    margin-top: 120px;
  }
  section {
    margin-top: 160px;
  }
  .sec-title {
    margin-bottom: 32px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  #work {
    width: 100%;
  }
  .work-content {
    flex-direction: column;
  }
  .work-item {
    width: 100%;
  }
  .work-item:first-child {
    margin-bottom: 40px;
  }
  .work-item p {
    font-size: 0.875rem;
  }
  .item-title {
    font-size: 1.25rem;
  }
  .product-container {
    width: 100%;
    padding: 0 17px;
  }
  .product-container_line {
    display: none;
  }
  .product-inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .product-inner_img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
  }
  .product-inner:nth-of-type(2) {
    margin: 40px 0;
  }
  .product-text {
    width: 100%;
    margin-bottom: 24px;
  }
  .product-text h4 {
    font-size: 1rem;
  }
  .product-text p {
    font-size: 0.75rem;
  }
  #contact {
    margin-top: 160px;
    padding: 0 24px;
  }
  button {
    width: 100%;
    height: 84px;
    margin-top: 32px;
  }
  button p {
    font-size: 1.25rem;
  }
  button img {
    width: 36px;
    height: 36px;
  }
  #sns {
    margin-top: 160px;
  }
  .sns-mobile {
    display: block;
  }
  .sns-desktop {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .sns-mobile {
    width: 100%;
  }
  .swiper-slide {
    overflow: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  .swiper-button-prev {
    left: 8px;
  }
  .swiper-button-next {
    right: 8px;
  }
  .swiper {
    margin-bottom: 100px;
  }
  #footer {
    width: 100%;
    height: 276px;
    padding-bottom: 19px;
    padding-top: 40px;
  }
  .footer-container {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-title {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
  .footer-text p {
    font-size: 0.75rem;
    margin-bottom: 24px;
  }
  .footer-sns {
    justify-content: center;
  }
  .footer-sns img {
    width: 30px;
    height: 30px;
  }
  .company {
    font-size: 0.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #news {
    width: 100%;
    padding-right: 72px;
    margin: 0 auto;
  }
  .news-container {
    width: 100%;
    max-width: 80%;
    height: auto;
  }
  #about img {
    width: 50%;
    margin-bottom: 10%;
  }
  .about-container {
    padding: 40px 0 40px 20px;
  }
  .about-inner {
    width: 60%;
  }
  .about-title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
  }
  .about-text {
    width: 100%;
    line-height: 30px;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
  }
  .work-content {
    gap: 40px;
    padding: 0 17px;
  }
  .product-container {
    padding: 0 17px;
  }
  .product-container_line {
    display: none;
  }
  .product-inner {
    display: block;
    padding: 0;
  }
  .product-inner_img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
  }
  .product-inner:nth-of-type(2) {
    margin: 40px 0;
  }
  .product-text {
    width: 100%;
    margin-bottom: 24px;
  }
  .product-text h4 {
    font-size: 1.5rem;
  }
  .product-text p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */