.bg-img {
    width: 100vw;
    height: 392px;
    margin-top: 120px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    object-fit: cover;
}