@use "../global/setting" as *;

#top {
    max-width: 1280px;
    padding: 0 72px;
    margin: 0 auto;
}

#nav {
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 0;
}

.nav-item {
    padding-right: 24px;

    &:last-child {
        padding-right: 0;
    }

    & a {
        color: $font-white;
        font-weight: 600;
        font-size: 1rem;

        &:hover {
            opacity: 60%;
        }
    }
}