@use "../global/setting" as *;
@media screen and (max-width: 390px) {

//     * {
//     outline: 1px solid red;
// }

    #top {
        width: 100%;
        padding: 0 17px;
        box-sizing: border-box;
    }

    #nav {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        width: 100%;
    }


    .nav-content {
        display: none;
    }

    .nav-smp {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        margin-top: 24px;
    }

    .hamburger1 {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $hamburger;
    }

    .hamburger2 {
        width: 23px;
        height: 2px;
        position: absolute;
        top: 10px;
        right: 0;
        background-color: $hamburger;
    }

    .hamburger3 {
        width: 16px;
        height: 2px;
        position: absolute;
        top: 20px;
        right: 0;
        background-color: $hamburger;
    }

    .fv {
        width: 100%;
        padding: 0 17px;
        margin: 146px 0 28px;

        &-visual_onion {
            top: 35%;
            transform: translate(-50%, -35%);
        }

        &-visual_circle {
            width: 375px;
            height: 375px;
            object-fit: contain;
        }

        &-text {
            top: 35%;
            left: 55%;
            transform: translate(-55%, -35%);
        }

        &-title {
            font-size: 1rem;
        }
    }

    button {
        width: 100%;
        max-width: 418px; // PCでは418pxを保ちつつ、スマホでは画面幅に収める
    }

    #about img {
        width: 100%;
        max-width: 586px;
        position: static; // スマホでは絶対配置をやめるなど、レイアウト自体の見直しも必要になる可能性が高い
    }

    .product-inner img {
        width: 100%;
        max-width: 512px;
    }

    .fv-visual_circle {
        width: 100%;
        max-width: 435px;
    }

    .scroll {
        width: 100%;
        padding: 0 17px;
        margin-bottom: 99px;

        &-btn {
        width: 134px;
        height: 134px;

        & img {
            width: 7.5px;
        }
        }
    }



    #news {
        width: 100%;
        padding: 0 17px;
        margin: 0 auto;
    }

    .news-container {
        min-width: 342px;
        height: 142xpx;
        padding: 26px;

        & .news-title {
            font-size: 1rem;
            margin-bottom: 4px;
        }
    }

    .news-item time, p {
        font-size: 0.625rem;
    }
    
    #about {
        width: 100%;
        padding: 0;
        margin-top: 80px;

        & img {
            width: 100%;
            height: 272px;
            object-fit: cover;
        }
    }

    .about-container {
        display: block;
        margin-right: 24px;
        padding: 20px 47px 32px 24px;
    }

    .about-title {
        width: 100%;
        font-size: 1.5rem;
    }

    .about-text {
        max-width: none;
        font-size: 0.875rem;
    }

    .bg-img {
    height: 543px;
    margin-top: 120px;
}

    section {
        margin-top: 160px;
    }

    .sec-title {
    margin-bottom: 32px;
    color: $font-white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    }


    #work {
        width: 100%;
        margin: 0;
    }

    .work-content {
        display: block;
    }

    .work-item {
        width: 100%;
        
        &:first-child {
            margin-bottom: 40px;
        }

        & p {
            font-size: 0.875rem;
        }
    }

    .item-title {
        font-size: 1.25rem;
    }

    .product-container {
        padding: 0 17px;

        &_line {
            display: none;
        }
    }

    .product-inner {
        display: block;

        &_img {
            display: block;
            width: 100%;
            height: 237px;
        }

        &:nth-of-type(2) {
            margin: 40px 0;
        }
    }

    .product-text {
        width: 100%;
        margin-bottom: 24px;

        & h4 {
            font-size: 1rem;
        }

        & p {
            font-size: 0.75rem;
        }
    }

    #contact {
        margin-top: 160px;
        padding: 0 24px;
    }

    button {
        width: 100%;
        height: 84px;
        margin-top: 32px;

        & p {
            font-size: 1.25rem;
        }

        & img {
            width: 36px;
            height: 36px;
        }
    }

    #sns {
        margin-top: 160px;
    }

    .swiper {
        margin-bottom: 100px;
    }

    #footer {
        width: 100%;
        height: 276px;
        padding-bottom: 19px;
        padding-top: 40px;
    }

    .footer-container {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-title {
        font-size: 1.25rem;
        margin-bottom: 24px;
    } 

    .footer-text p {
        font-size: 0.75rem;
        margin-bottom: 24px;
    }

    .footer-sns {
        justify-content: center;

        & img {
            width: 30px;
            height: 30px;
        }
    }

    .company {
        font-size: 0.625rem;
    }

}