@use "../global/setting" as *;

html {
    font-family:"Yu Mincho", serif;
}

body {
    width: 100%;
    background-color: $bg-color;
}



img {
    display: block;
    width: 100%;
    height: auto;
}