@use "../global/setting" as *;

#about {
    width: 100%;
    height: auto;
    padding: 234px 72px 0;
    position: relative;

    & img {
        position: absolute;
        top: 80px;
        right: 170px;
        width: 586px;
        height: 419px;
    }
}

.about-container {
    width: 904px;
    height: 337px;
    padding: 60px 0 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $about-color;
}

.about-title {
    font-size: 2.25rem;
    color: $font-black;
    margin-bottom: 10px;
}

.about-text {
    display: block;
    max-width: 50%;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 0.1em;
}