@use "../global/setting" as *;

#about {
    padding: 234px 72px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1260px;

    & img {
        width: 50%;
        max-width: 586px;
        height: auto;
        margin-left: -20%;
        margin-bottom: 20%;
    }
}

.about-container {
    width: 100%;
    max-width: 904px;
    height: auto;
    padding: 60px 0 60px 40px;
    background-color: $about-color;
}

.about-inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-title {
    font-size: 2.25rem;
    color: $font-black;
    margin-bottom: 10px;
}

.about-text {
    width: 100%;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 0.1em;
}