@use "../global/setting" as *;

#contact {
    width: 100%;
    height: auto;
    margin-top: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 418px;
    height: 110px;
    background-color: $font-white;
    border-radius: 60px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &:hover {
        .contact-arrow {
            transform: translateX(6px); 
        }
    }

    & p {
        font-size: 1.5rem;
    }

    & img {
        width: 46px;
        height: 46px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateX(6px); 
        }
    }
}