#sns {
    width: 100%;
}

.swiper {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 128px;
    overflow: hidden; 

    

    &-button-prev,
    &-button-next {
        display: none;
    }

    &-slide {
        width: 194px;
        height: 194px;
        margin-right: 4px;


        & img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

@media (min-width: 768px) {
    .swiper {
        &-wrapper {
        display: flex;
        width: max-content;
        animation: swiper 20s linear infinite;
    }
    }
}

@keyframes swiper {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}