#sns {
    width: 100%;
}

    .sns-mobile {
        display: none; 
    }
    .sns-desktop { 
        display: block; 
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }



.swiper {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 128px;
    overflow: hidden; 

    



    &-slide {
        width: 194px;
        height: 194px;
        margin-right: 4px;


        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.marquee {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 128px;
    overflow: hidden;

    &-track {
        display: flex;
        width: max-content;
        animation: scroll 20s linear infinite;

        li {
            width: 194px;
            height: 194px;
            margin-right: 4px;
            flex-shrink: 0; // ★重要: flexアイテムが縮まないようにする

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}