@use "../global/setting" as *;

#work {
    width: 100%;
}

.work-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.work-item {
    max-width: 400px;

    & .item-title {
        font-size: 1.5rem;
        color: $font-white;
        text-align: center;
    }

    & img {
        margin: 24px 0;
    }

    & p {
        color: $font-white;
        font-size: 1rem;
        letter-spacing: 0.1em;
        line-height: 1.5;
    }
}
